{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'photos/styles/base.css' %}">
    <script defer src="{% static 'photos/scripts/my-script.js' %}"></script>
    <title>Photos-DB</title>
</head>
<body>

<!-- Side nav start -->

<form action="{% url 'options' %}" method="get" id="sideNavigation">
    <div class="sidenav">
        <a href="{% url 'main'%}">Home</a>

        <!-- Side nav sorts -->

            <button type="button" class="dropdown-btn">
                Sort by
            </button>
            <div class="dropdown-container">
                {% for sort in sorts %}
                    <div>
                        {% with sort.0 as val %}
                        <label class="container">{{ sort.1 }}
                            <input onClick="submitForm('{{ sort.0 }}')" id="{{ sort.0 }}" name="{{ sort.0 }}" type="checkbox" value="enabled" {% if val in isChecked %} checked {% endif %}/>
                            <span class="checkmark"></span>
                        </label>
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>

        <!-- Side nav filter Camera -->

            <button type="button" class="dropdown-btn">
                Camera
            </button>
            <div class="dropdown-container">
                {% for x in cameras %}
                    <div>
                        {% with x.id|stringformat:"i" as t %}
                            {% with "camera_"|add:t as val %}
                            <label class="container">{{x.model}}
                                <input class="check" onClick="submitForm('camera_'+{{ x.id }})" id="camera_{{ x.id }}" name="camera_{{ x.id }}" type="checkbox" value="enabled" {% if val in isChecked %} checked {% endif %}/>
                                <span class="checkmark"></span>
                            </label>
                            {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>

        <!-- Side nav filter Film -->

            <button type="button" class="dropdown-btn">
                Film
            </button>
            <div class="dropdown-container">
                {% for x in film %}
                    <div>
                        {% with x.id|stringformat:"i" as t %}
                            {% with "film_"|add:t as val %}
                            <label class="container">{{x.name}}
                                <input class="check" onClick="submitForm('film_'+{{ x.id }})" id="film_{{ x.id }}" name="film_{{ x.id }}" type="checkbox" value="enabled" {% if val in isChecked %} checked {% endif %}/>
                                <span class="checkmark"></span>
                            </label>
                            {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>

        <!-- Side nav filter Event -->

            <button type="button" class="dropdown-btn">
                Event
            </button>
            <div class="dropdown-container">
                {% for x in event %}
                    <div>
                        {% with x.id|stringformat:"i" as t %}
                            {% with "event_"|add:t as val %}
                            <label class="container">{{x.name}} ({{x.place}})
                                <input class="check" onClick="submitForm('event_'+{{ x.id }})" id="event_{{ x.id }}" name="event_{{ x.id }}" type="checkbox" value="enabled" {% if val in isChecked %} checked {% endif %}/>
                                <span class="checkmark"></span>
                            </label>
                            {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>

        <a class="openUploadModal" id="openUploadModal">Upload</a>
    </div>

    <!-- Image gallery -->

    <div class="main">
        {% for x in photos %}
            <div class="responsive">
                <button class="select-btn" id="photo_{{ x.id }}" name="photo_{{ x.id }}" type="submit" value="show">
                <div class="gallery">
                    <img src="{% static 'photos/pictures/' %}{{ x.timestamp|date:'Y-m-d' }}/{{ x.fileName }}">
                    <div class="desc">{{x.fileName}}</div>
                </div>
                </button>
            </div>
        {% endfor %}
    </div>
</form>

<!-- Modals -->

<form method="post" id="modalForm" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Gallery modal -->

    {% if sPhoto %}
        <div id="photoModal" class="modal">
            <div class="modal-content">
                <span class="closeModal" id="closePhotoModal">&times;</span>
                <div class="modal-gallery">
                    <img class="modal-img" src="{% static 'photos/pictures/' %}{{ sPhoto.timestamp|date:'Y-m-d'  }}/{{ sPhoto.fileName }}">
                </div>
                <table class="modal-info">
                    <tr>
                        <th>Filename: </th>
                        <td class="modal-dropdown" id="new-filename" contenteditable="true">{{sPhoto.fileName}}</td>
                        <input id="filename" name="filename" type="hidden"/>
                    </tr>
                    <tr>
                        <th>Camera: </th>
                        <td>
                            <select class="modal-dropdown" name="camera">
                                {% for x in cameras %}
                                <option value="{{x.id}}" {% if x.id == sPhoto.camera_id %} selected {% endif %}>{{x.model}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Event: </th>
                        <td>
                            <select class="modal-dropdown" name="event">
                                {% for x in event %}
                                <option value="{{x.id}}" {% if x.id == sPhoto.event_id %} selected {% endif %}>{{x.name}} ({{x.place}})</option>
                                {% endfor %}
                                <option value="{{x.id}}" {% if not sPhoto.event_id %} selected {% endif %}>none</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Film: </th>
                        <td>
                            <select class="modal-dropdown" name="film">
                                {% for x in film %}
                                <option value="{{x.id}}" {% if x.id == sPhoto.film_id %} selected {% endif %}>{{x.name}}</option>
                                {% endfor %}
                                <option value="{{x.id}}" {% if not sPhoto.film_id %} selected {% endif %}>none</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Time Stamp: </th>
                        <td>
                            <input class="modal-dropdown" id="timestamp" name="timestamp" type="date" value="{{sPhoto.timestamp|date:'Y-m-d' }}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>FilmEnd: </th>
                        <td>
                            <input class="modal-dropdown" id="filmEnd" name="filmEnd" type="date" value="{{sPhoto.filmEnd|date:'Y-m-d' }}"/>
                        </td>
                    </tr>
                </table>
                <button class="modalOptionButton" id="download" onclick="submitModalForm('download')" name="download" type="submit" value="{{sPhoto.fileName}}">Download</button>
                <button class="modalOptionButton" id="save" onclick="submitModalForm('save')" name="save" type="submit" value="{{sPhoto.id}}">Save</button>
                <button class="modalOptionButton" id="delete" onclick="submitModalForm('delete')" name="delete" type="submit" value="{{sPhoto.id}}">Delete</button>
            </div>
        </div>
    {% endif %}

    <!-- Upload modal -->

    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <span class="closeModal" id="closeUploadModal">&times;</span>
            <div class="modal-gallery" onclick="triggerFileInput()">
                <label id="click">Click to add photo</label>
                <input class="modal-img" type="file" id="img" name="img" accept="image/*" style="display: none;" onchange="displayImage(this)">
                <img class="modal-img" id="uploadedImage" src="">
            </div>
            <table class="modal-info">
                <tr>
                    <th>Filename: </th>
                    <td class="modal-dropdown" id="add-new-filename" contenteditable="true"></td>
                    <input id="add-filename" name="filename" type="hidden"/>
                </tr>
                <tr>
                    <th>Camera: </th>
                    <td>
                        <select class="modal-dropdown" name="camera">
                            {% for x in cameras %}
                            <option value="{{x.id}}">{{x.model}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><a class="modalAddButton" id="openCameraModal">+</a></td>
                </tr>
                <tr>
                    <th>Event: </th>
                    <td>
                        <select class="modal-dropdown" name="event">
                            {% for x in event %}
                            <option value="{{x.id}}">{{x.name}} ({{x.place}})</option>
                            {% endfor %}
                            <option value="none" selected>none</option>
                        </select>
                    </td>
                    <td><a class="modalAddButton" id="openEventModal">+</a></td>
                </tr>
                <tr>
                    <th>Film: </th>
                    <td>
                        <select class="modal-dropdown" name="film">
                            {% for x in film %}
                            <option value="{{x.id}}">{{x.name}}</option>
                            {% endfor %}
                            <option value="none" selected>none</option>
                        </select>
                    </td>
                    <td><a class="modalAddButton" id="openFilmModal">+</a></td>
                </tr>
                <tr>
                    <th>Time Stamp: </th>
                    <td>
                        <input class="modal-dropdown" id="add-timestamp" name="timestamp" type="date" value="{{sPhoto.timestamp|date:'Y-m-d' }}" />
                    </td>
                </tr>
                <tr>
                    <th>FilmEnd: </th>
                    <td>
                        <input class="modal-dropdown" id="add-filmEnd" name="filmEnd" type="date" value="{{sPhoto.filmEnd|date:'Y-m-d' }}" />
                    </td>
                </tr>
            </table>
            <button class="modalOptionButton" id="addPhoto" name="addPhoto" onclick="submitModalForm('addPhoto')" type="submit" value="addPhoto">Add to database</button>
        </div>
    </div>

    <!-- Camera modal -->

    <div id="cameraModal" class="modal">
        <div class="modal-content">
            <span class="closeModal" id="closeCameraModal">&times;</span>
            <table class="modal-info">
                <tr>
                    <th>Model: </th>
                    <td class="modal-dropdown" id="addModel" contenteditable="true"></td>
                    <input id="modelInput" name="model" type="hidden"/>
                </tr>
                <tr>
                    <th>Is it Film: </th>
                    <td>
                        <select class="modal-dropdown" name="isFilm">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Is it Working: </th>
                    <td>
                        <select class="modal-dropdown" name="isWorking">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Date of Purchase: </th>
                        <td>
                            <input class="modal-dropdown" id="dateOfPurchase" name="dateOfPurchase" type="date" value="dateOfPurchase"/>
                        </td>
                </tr>
            </table>
            <button class="modalOptionButton" id="addCamera" name="addCamera" onclick="submitModalForm('addCamera')" type="submit" value="addCamera">Add to database</button>
        </div>
    </div>

    <!-- Event modal -->

    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="closeModal" id="closeEventModal">&times;</span>
            <table class="modal-info">
                <tr>
                    <th>Name: </th>
                    <td class="modal-dropdown" id="addEventName" contenteditable="true"></td>
                    <input id="addEventNameInput" name="name" type="hidden"/>
                </tr>
                <tr>
                    <th>Place: </th>
                    <td class="modal-dropdown" id="addPlace" contenteditable="true"></td>
                    <input id="addPlaceInput" name="place" type="hidden"/>
                </tr>
                <tr>
                    <th>Start Date: </th>
                        <td>
                            <input class="modal-dropdown" id="startDate" name="startDate" type="date" value="startDate"/>
                        </td>
                </tr>
                <tr>
                    <th>End Data: </th>
                        <td>
                            <input class="modal-dropdown" id="endDate" name="endDate" type="date" value="endDate"/>
                        </td>
                </tr>
            </table>
            <button class="modalOptionButton" id="addEvent" name="addEvent" onclick="submitModalForm('addEvent')" type="submit" value="addEvent">Add to database</button>
        </div>
    </div>

    <!-- Film modal -->

    <div id="filmModal" class="modal">
        <div class="modal-content">
            <span class="closeModal" id="closeFilmModal">&times;</span>
            <table class="modal-info">
                <tr>
                    <th>Name: </th>
                    <td class="modal-dropdown" id="addFilmName" contenteditable="true"></td>
                    <input id="addFilmNameInput" name="name" type="hidden"/>
                </tr>
                <tr>
                    <th>ISO: </th>
                    <td class="modal-dropdown" id="addISO" contenteditable="true"></td>
                    <input id="addISOInput" name="iso" type="hidden"/>
                </tr>
                <tr>
                    <th>Exposures: </th>
                    <td class="modal-dropdown" id="addExposures" contenteditable="true"></td>
                    <input id="addExposuresInput" name="exposures" type="hidden"/>
                </tr>
            </table>
            <button class="modalOptionButton" id="addFilm" name="addFilm" onclick="submitModalForm('addFilm')" type="submit" value="addFilm">Add to database</button>
        </div>
    </div>
</form>
</body>
</html>