{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'photos/styles/base.css' %}">
    <script defer src="{% static 'photos/scripts/script.js' %}"></script>
    <title>Photo gallery</title>
</head>
<body>

<div class="sidenav">
    <button class="dropdown-btn">Sort by
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">a to z</a>
        <a href="#">z to a</a>
        <a href="#">by film</a>
        <a href="#">by date taken</a>
        <a href="#">by camera</a>
    </div>


    <button class="dropdown-btn">Camera
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for x in cameras %}
            <a href="#"><span>{{x.id}} </span>{{x.model}}</a>
        {% endfor %}
    </div>


    <button class="dropdown-btn">Film
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for x in film %}
            <a href="#"><span>{{x.id}} </span>{{x.name}}</a>
        {% endfor %}
    </div>


    <button class="dropdown-btn">Event
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        {% for x in event %}
            <a href="#"><span>{{x.id}} </span>{{x.name}}</a>
        {% endfor %}
    </div>


    <a class="uploadbtn" href="#">Upload</a>
</div>

<div class="main">
        {% for x in photos %}
            <img class="img" src="{% static 'photos/pictures/' %}{{ x.fileName }}">
        {% endfor %}
</div>
</body>
</html>