body {
    background-color: #121212;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #818181;
    margin:25px;
}

.main {
    margin-right: 220px;
    font-size: 18px;
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.upload-btn{
    position: fixed;
    display: inline-block;
    bottom: 15px;
}

.active {
    background-color: #a329d6;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

div.gallery {
    border: 1px solid #161616;;
}

div.gallery:hover {
    border: 1px solid #818181;
}

div.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 23px 6px;
    float: left;
    width: 25%;
    height: 35%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Modal start */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #0a0a0a;
    margin: 10% 12%;
    padding: 20px;
    border: 1px solid #161616;
    width: 78%;
    height: 64%
}

.modal-gallery{
    display: inline-block;
    height: 450px;
    width: 680px;
    border: 1px solid #161616;
    text-align: center;
    vertical-align: top;
    background-color: #0d0d0d;
}

#click{
    display: block;
    position: absolute;
    bottom: 50%;
    left: 31%;
}

.modal-img {
    margin: auto;
    display: inline-block;
    top: 0;
    bottom: 0;
    max-width: 680px;
    max-height: 450px;
    padding-bottom: 2px;
}

.modal-info{
    all: unset;
    font-size: 20px;
    display: inline-block;
    padding-bottom: 21%;
}

.modal-dropdown{
    all: unset;
    padding-left: 5%;
}

th, td {
    white-space: nowrap;
    padding: 2% 5%;
    text-align: left;
}

.modal-btn{
    all: unset;
    color: #818181;
    position: absolute;
    bottom: 18%;
    right: 16%;
    font-weight: bold;
}

#delete{
    color: #cc0000;
    right: 12%;
}

#download{
    right: 19.5%;
}

#add{
    right: 12%;
}

.input {
    width: 100px;
    border: 2px solid #818181;
    border-radius: 4px;
}

.close-photo, .close-upload {
    color: #818181;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-photo:hover, .close-photo:focus, .close-upload:hover, .close-upload:focus, .modal-btn:hover, .modal-btn:focus{
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.select-btn {
    all: unset;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Modal end */