body {
    background-color: #121212;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #818181;
    margin:25px;
}

.main {
    margin-right: 220px;
    font-size: 18px;
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.upload-btn{
    position: fixed;
    display: inline-block;
    bottom: 0px;
}

.label {
    display: block;
    padding-top: 5px;
}

.active {
  background-color: #a329d6;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

div.gallery {
  border: 1px solid #161616;;
}

div.gallery:hover {
  border: 1px solid #818181;
}

div.gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.desc {
  padding: 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 23px 6px;
  float: left;
  width: 25%;
  height: 35%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}